* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) repeat(6, minmax(0, 100px)) minmax(30px, 1fr);
    grid-template-rows: 1fr auto auto 1fr auto;
    height: 100vh;
    max-height: 100vh;
}

header {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    background-color: rgba(173, 216, 230, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#title-area {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    background-color: rgba(200, 200, 220, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: monospace;
    text-align: center;
}

nav {
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    background-color: rgba(255, 127, 110, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 20px;
    margin: 25px 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    background-color: rgba(255, 255, 224, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer {
    grid-column: 2 / 8;
    grid-row: 5 / 6;
    background-color: rgba(144, 238, 144, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wrapper::before,
#wrapper::after {
    content: "";
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: rgba(100, 149, 237, 0.5);
}

#wrapper::after {
    grid-column: 8 / 9;
}