body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-attachment: fixed;
    margin: 0px;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    background-color: #ffffff;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    grid-row: 1 / 2;
    grid-column: 2 / 8;
}

header h1 {
    background-image: url(utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1em;
    margin: 0px;
    line-height: 140%;
    padding: .5rem;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

main img {
    float: right;
    padding-left: 2rem;
}

nav {
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: #424242;
    padding: 0px;
    margin: 0px;
    grid-row: 2 / 3;
    grid-column: 2 / 8;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}



h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

.studentemphasize {
    color: red;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / 8;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap: 0.75rem;
    width: 100%;
}

input {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

textarea {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}

video {
    float: right;
    margin-left: 2em;
}

* {
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

#homehero {
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#alumnihero {
    height: 300px;
    background-image: url(alumnihero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#studenthero {
    height: 300px;
    background-image: url(studenthero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#facultyhero {
    height: 300px;
    background-image: url(facultyhero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#shophero {
    height: 300px;
    background-image: url(shophero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

#shoppingcart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#shoppingcart img {
    width: 100%;
    height: auto;
}

#bluebar {
    background-color: #003058;
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    width: 100%;
}

#greybar {
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    width: 100%;
}

#mySubmit {
    width: 10rem;
    grid-column: 2 / 3;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: #BA1C21
}

table {
    margin: 0 auto;
    border: 1px solid #424242;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid #424242;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tbody tr:nth-of-type(even) {
    background-color: #F3F3F3;
}

@media screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 150px)) minmax(0px, 1fr);
    }
}

@media screen and (max-width: 900px) {
    video {
        float: none;
        margin: 0px;
        width: 100%;
        height: auto;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto
    }

    #studenthero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto
    }

    #facultyhero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto
    }

    #alumnihero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto
    }

    #shophero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    #shoppingcart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
    video {
        float: none;
        margin: 0px;
        width: 100%;
        height: auto;
    }

    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero {
        display: none;
    }

    #studenthero {
        display: none;
    }

    #facultyhero {
        display: none;
    }

    #alumnihero {
        display: none;
    }

    #shophero {
        display: none;
    }

    #shoppingcart {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}