* {
    box-sizing: border-box;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

}

nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 10px;
}

nav ul li {
    margin-right: 50px;
    display: inline-block;
    align-items: center;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.container {
    grid-row: 2 / 5;
    grid-column: 2 / 8;
    position: relative;
    text-align: center;
    color: white;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.bestsellers {
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    justify-content: center;
    align-items: center;
}

.my_button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.my_button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.my_button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

#mainhero {
    height: 300px;
    background-image: url(shophero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

@media screen and (max-width: 768px) {
    .container {
        grid-row: 2 / 5;
        grid-column: 1 / -1;
    }

    .centered-text {
        font-size: 10px;
    }
}


